.colors{
    background-color: rgb(10, 131, 237);
    color: gold;
}

.pages{
    position: relative;
    
}

.container{
    position: relative;
    min-height: 94vh;
}

.pageContainer{
    display: block;
}

a,span:focus{
    outline: none;
    border: none;
    box-shadow: none;
}
