.colors{
    background-color: rgb(10, 131, 237);
    color: gold;
}

.pages{
    position: absolute;
    bottom: 0;
}

.container{
    position: relative;
    min-height: 100vh;
}

.pageContainer{
    display: block;
}